# Dependencies
node_modules/
.pnpm-store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production build output
dist/
build/
*.log

# IDE & OS
.DS_Store
.vscode/
.idea/
